*.sln
*.dll
*.pdb
*.ilk
*.exe
*.ipch
*.opendb
*.db
*.suo
*.user
*.filters
*.vcxproj
*.idb
*.obj
*.tlog
*.lastbuildstate
*.log
*.ipdb
*.iobj
SFMLEngine/Debug/
SFMLEngine/Release/
SFMLEngine/SFMLEngine/Data/
SFMLEngine/SFMLEngine/Debug/SFMLEngine.vcxproj.FileListAbsolute.txt
SFMLEngine/SFMLEngine/Music/
SFMLEngine/SFMLEngine/images/
SFMLEngine/Debug
